In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_html('http://localhost:5000/teacher/fd15a3ef-2f25-4941-93c0-6cd1937194d4/')

In [4]:
vise= df[0]

In [5]:
vise

   Team    Status  Score    1    2    3    4    5    6    7    8    9   10
0     1  finished     10   OK   OK   OK   OK   OK   OK   OK   OK   OK   OK
1     2   ongoing      4   OK   OK   OK    C    C    C    D   OK    D    D
2     3  finished     10   OK   OK   OK   OK   OK   OK   OK   OK   OK   OK
3     4      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4     5      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5     6      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6     7      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7     8      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8     9      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    10      idle      0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN